[Desktop Entry]
Categories=Engineering;Electronics;
Comment=Verilog code coverage analyzer
Encoding=UTF-8
Exec=covered report -view
GenericName=Covered
Hidden=true
Icon=covered
Name=Coverage Analyzer
Type=Application
X-Desktop-File-Install-Version=0.21
