[Desktop Entry]
Categories=Engineering;Electronics;
Comment=Dinotrace which can be used with emacs for advance design
Encoding=UTF-8
Exec=dinotrace
GenericName=Dinotrace
Hidden=true
Icon=utilities-system-monitor
Name=Waveform viewer
Type=Application
X-Desktop-File-Install-Version=0.20
