[Desktop Entry]
Categories=;
Comment=Manipulate component attributes with gattrib
Comment[ar]=عالج سمات المكوّن ب‍ gattrib
Comment[bg]=Манипулирай атрибутите на компонента с gattrib
Comment[bs]=Upravljajte atributima komponenti pomoću gattrib
Comment[ca]=Manipuleu atributs de components amb el gattrib
Comment[da]=Ændre komponent attributter med gattrib
Comment[de]=Editieren von Bauteilattributen mit gattrib
Comment[el]=Έλεγχος των γνωρισμάτων των στοιχείων με το gattrib
Comment[es]=Manejar propiedades de componentes con gattrib
Comment[fr]=Manipuler les attributs des composants avec gattrib
Comment[gl]=Manipular atributos de compoñentes con gattrib
Comment[hu]=Alkatrészattribútumok szerkesztése gattrib segítségével
Comment[it]=Manipola gli attributi dei componenti con gattrib
Comment[ml]=gattrib ഉപയോഗിച്ച്   കമ്പോണന്ടിന്റെ  സവിശേഷതകള്‍ മാറ്റം വരുത്തുക
Comment[nb]=Manipuler komponent attributter med gattrib
Comment[nl]=Manipuleer componenten attributen met gattrib
Comment[oc]=Manipular los atributs dels components amb gattrib
Comment[pl]=Edytuj atrybuty elementów za pomocą gattrib
Comment[pt]=Manipular atributos dos componentes com gattrib
Comment[pt_BR]=Manipule os atributos dos componentes com o gattrib
Comment[ru]=Управление атрибутами компонента с помощью gattrib
Comment[sl]=Upravljajte atribute sestavnih delov z gattrib
Comment[sr]=Управљајте особинама компоненти гособинком
Comment[sv]=Manipulera komponentattribut med gattrib
Comment[tr]=Bileşen özelliklerini gattrib ile düzenle
Comment[uk]=Керувати властивостями компонентів за допомогою gattrib
Comment[zh_CN]=使用 gattrib 操作组件的属性
Comment[zh_TW]=使用gattrib修改元件屬性
Exec=gattrib %F
GenericName=gattrib
Hidden=false
Icon=geda-gattrib
Name=gEDA Attribute Editor
Name[ar]=محرّر السّمة ل‍ gEDA
Name[bg]=gEDA Едитор на атрибути
Name[bs]=gEDA uređivač atributa
Name[ca]=Editor d'atributs gEDA
Name[de]=gEDA Attributeditor
Name[el]=Επεξεργαστής γνωρισμάτων gEDA
Name[es]=Editor de Propiedades de gEDA
Name[fr]=Éditeur d'attributs gEDA
Name[gl]=Editor de atributos gEDA
Name[hu]=gEDA attribútumszerkesztő
Name[it]=gEDA Editor Attributi
Name[ml]=gEDA യുടെ കമ്പോണന്‍ടു  സവിശേഷത എഡിറ്റര്‍
Name[nl]=gEDA Attribuut Editor
Name[oc]=Editor d'atributs gEDA
Name[pl]=gEDA Edytor atrybutów
Name[pt]=Editor de Atributos gEDA
Name[pt_BR]=Editor de atributos gEDA
Name[ru]=Редактор атрибутов gEDA
Name[sl]=gEDA urejevalnik atributov
Name[sr]=гЕДА — уређивач особина
Name[sv]=gEDA-attributredigerare
Name[tr]=gEDA Özellik Düzenleyicisi
Name[zh_CN]=gEDA 属性编辑器
Name[zh_TW]=gEDA 屬性編輯器
Type=Application
Version=1.0
X-Desktop-File-Install-Version=0.21
