[Desktop Entry]
Categories=Electronics;Engineering;
Comment=Edits physical layouts
Encoding=UTF-8
Exec=/usr/lib64/alliance/bin/graal
GenericName=graal
Hidden=true
Icon=graal.png
Name=Alliance: Layout Editor
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.20
