[Desktop Entry]
Categories=;
Comment=An 8085 Simulator
Exec=gsim85
Hidden=false
Icon=gsim
Name=GSim85
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.20
