[Desktop Entry]
Categories=;
Comment=VLSI layout tool
Encoding=UTF-8
Exec=magic
GenericName=Magic
Hidden=false
Icon=magic.png
MimeType=application/mag;
Name=Magic VLSI Layout
StartupNotify=true
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.20
