[Desktop Entry]
Categories=;
Comment=Create and edit printed circuit board designs
Comment[nl]=Creer en bewerk gedrukte bedrading ontwerpen
Comment[ru]=Создание и редактирование проектов печатных плат
Exec=pcb %f
GenericName=PCB Design
GenericName[nl]=PCB Ontwerp
GenericName[ru]=Проект PCB
Hidden=false
Icon=pcb
MimeType=application/x-pcb-layout;application/x-pcb-footprint;
Name=PCB Designer
Name[nl]=PCB Ontwerper
Name[ru]=Редактор PCB
Type=Application
Version=1.0
X-Desktop-File-Install-Version=0.20
