[Desktop Entry]
Categories=;
Comment=Qucs is a electronic circuit simulator
Comment[fr]=Qucs est un simulateur de circuits électroniques
Encoding=UTF-8
Exec=qucs
Hidden=false
Icon=/usr/share/qucs/bitmaps/big.qucs.xpm
Name=Qucs
Name[fr_FR]=qucs
Terminal=false
Type=Application
Version=1.0
X-Desktop-File-Install-Version=0.21
