[Desktop Entry]
Categories=;
Comment=Simulates spice netlists and gEDA schematics
Encoding=UTF-8
Exec=gspiceui
Hidden=false
Icon=gspiceui
Name=Spice Simulation Frontend
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.20
