[Desktop Entry]
Categories=;
Encoding=UTF-8
Exec=toped
GenericName=Toped, IC Layout Editor
Hidden=false
Icon=toped
Name=Toped
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.20
