[Desktop Entry]
Categories=Electronics;Engineering;
Comment=View the Schematic
Encoding=UTF-8
Exec=/usr/lib64/alliance/bin/xsch
GenericName=Xsch
Hidden=true
Icon=xsch.png
Name=Alliance: Schematic Viewer
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.20
