[Desktop Entry]
Categories=Electronics;Engineering;
Comment=View the Petri Nets
Encoding=UTF-8
Exec=/usr/lib64/alliance/bin/xvpn
GenericName=xpvn
Hidden=true
Icon=xvpn.png
Name=Alliance: Petri Nets Viewer
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.20
